
<div id="categoriesbar" class="categoriesbar">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleCategoriesbar()">&times;</a>
    <div class="categoriesinfo">
        <h2> ABOUT </h2>
        <p>express</p>
        <p>express-session</p>
        <p>connect-mongo</p>
        <p>path</p>
        <p>express-handlebars</p>
        <p>body-parser</p>
        <p>mongodb</p>
        <p>bcrypt</p>

        
    </div>
</div>
