<div id="categoriesbar" class="categoriesbar">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleCategoriesbar()">&times;</a>
    <div class="categoriesinfo">
        <h2> ABOUT (NPM USED)</h2>
        <a href="#">express</a>
        <a href="#">express-session</a>
        <a href="#">connect-mongo</a>
        <a href="#">path</a>
        <a href="#">express-handlebars</a>
        <a href="#">body-parser</a>
        <a href="#">mongodb</a>
        <a href="#">bcrypt</a>
    </div>
</div>