<div id="categoriesbar" class="categoriesbar">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleCategoriesbar()">&times;</a>
    <div class="categoriesinfo">
        <h2> ABOUT </h2>
        <a href="#">NPM Used</a>
        <a>express</a>
        <a>express-session</a>
        <a>connect-mongo</a>
        <a>path</a>
        <a>express-handlebars</a>
        <a>body-parser</a>
        <a>mongodb</a>
        <a>bcrypt</a>

        
    </div>
</div>
